{{ $glbCtx := . }}
apiVersion: eaas.envmgmt.io/v1
kind: EnvironmentTemplate
metadata:
  name: {{ $glbCtx.NamespaceEnvironmentTemplate }}-{{ $glbCtx.projectName }}
  project: {{ $glbCtx.projectName }}
  annotations:
    eaas.envmgmt.io/category: Developer Productivity
  displayName: Namespace as a Service
spec:
  agents:
  - name: {{ $glbCtx.agentName }}
  resources:
  - kind: resourcetemplate
    name: {{ $glbCtx.NamespaceResourceTemplate }}-{{ $glbCtx.projectName }}
    resourceOptions:
      version: {{ $glbCtx.version }}
    type: dynamic
  variables:
  - name: project
    options:
      override:
        type: allowed
    value: {{ $glbCtx.projectName }}
    valueType: text
  - name: cluster_name
    options:
      override:
        type: allowed
    value: {{ $glbCtx.ClusterName }}
    valueType: text
  - name: username
    options:
      override:
        type: notallowed
    value: $($glbCtx.username)$
    valueType: expression
  - name: user_type
    options:
      override:
        type: notallowed
    value: $(trigger.payload.is_sso_user)$
    valueType: expression
  - name: collaborator
    options:
      override:
        type: allowed
    value: 'user_email'
    valueType: text
  version: {{ $glbCtx.version }}